discord.py==1.7.2
aiosqlite==0.15.0
urlextract==1.0.0
python-twitter==3.5
Unidecode==1.1.1
git+https://github.com/discord-py-slash-commands/discord-py-slash-command.git@6a5cb290bd4ae3b3d172072094869f0fa4652f32
asyncpraw==7.5.0
pycrypto==2.6.1
python-dateutil==2.8.2
markdownify==0.11.6
beautifulsoup4==4.12.2
